:root{
    --color-primary:#2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border:#ccc;
    --border-radius:30px;
}
html{
    font-size:62.5%

}
*,*::after,*::before{
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.container__center{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 /* Typography */
 ::selection{
    background-color: var(--color-primary);
    color: #fff;
 }
body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1,h2,h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;


}

h1{
    font-size: 7rem
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
p{
    margin-top: 0
}
@media screen and (min-width:1024px) {
    body{
        font-size:1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
    p{
        font-size:1.8rem;
    }
}
/* links */
a{
    text-decoration:none;
}
.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size:2rem;
    font-weight: bold;
}
.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin 0.1s
}
.link-arrow:hover::after{
    margin-left: 10px;
}
@media screen and (min-width:1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
}

/* badges */

.badge{
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-weight:600;
    white-space: nowrap;
    font-size: 2rem;
}
.badge--primary{
    background:var(--color-primary);
    color:#fff
}
.badge--secondary{
    background: var(--color-secondary);
    color:#fff;
}
.badge--small{
    font-size:1.6rem;
    padding:0.5rem 1.5rem;
}
@media screen and (min-width:1024px){
    .badge{
        font-size:1.5rem;
    }
    .badge--small{
    font-size:1.2rem;

    }
}

/* lists */
.list{
     list-style: none;
     padding-left: 0;
     color: var(--color-headings);
     
}
.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}
.list--tick{
    list-style-image: url(../icons/tick.svg);
    padding-left: 3rem;
}
.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}
@media screen and (min-width:1024px) {
    .list--tick .list__item{
        padding-left: 0;
    }
    
}

/* icons */
.icon{
    width:40px;
    height:40px;
}
.icon--small{
    width:30px;
    height:30px;
}
.icon--primary{
    fill: var(--color-primary)
}
.icon--accent{
    fill: #fff;
}
.icon-container{
    background-color: #f3f9fa;
    width:64px;
    height:64px;
    display: inline-flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;

}
.icon-container--accent{
    background-color: var(--color-accent);
    width:64px;
    height:64px;
    display: inline-flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

/* buttons */

.btn{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 3rem;
    border-radius: 40px;
    border: none;
    outline:none;
    cursor:pointer;
    text-align: center; 
    margin: 1rem 0;
    white-space: nowrap;
    
}
.btn .icon{
    width:2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}
.btn--primary{
    color:#fff;
    background: var(--color-primary);
}
.btn--primary:hover{
    filter: brightness(90%);
}
.btn--secondary{
    color:#fff;
    background: var(--color-secondary);
}
.btn--secondary:hover{
    filter: brightness(90%);
}
.btn--accent{
    background: var(--color-accent);
    color:#fff;
}
.btn--accent:hover{
    filter: brightness(90%);
}
.btn--outline{
    background: none;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}
.btn--outline:hover{
    background: var(--color-headings);
    color:#fff
}
.btn--block{
    width:100%;
    display: inline-block;
}
.btn--stretched{
    padding-left: 6rem;
    padding-right: 6rem;

}

@media screen and (min-width:1024px){
    .btn{
        font-size:1.5rem;
    }
}

/* input */
.input{
    padding:1.5rem 3.5rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    outline: 0;
    color:var(--color-headings);
    font-size: 2rem;
    width: 100%;
}
::placeholder{
    color: #cdcbd7;
}

.input-group{
    border: 2px solid var(--color-border);
    /* width:fit-content; */
    display:flex;
    border-radius: var(--border-radius);
}
.input-group .input{
    border:0;
    padding:1.5rem 2rem;
    flex-grow: 1;
}
.input-group .btn{
    margin:1px;
  

}

@media screen and (min-width:1024px) {
    .input{
        font-size:1.5rem
    }
}
/* cards */
.card{
    border-radius:7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow:hidden;

}
.card__header, .card__body{
    padding: 2rem 3rem;
}

.card--primary .card__header{
    background:var(--color-primary);
    color: #fff;
}
.card--secondary .card__header{
    background:var(--color-secondary);
    color: #fff;
}
/* since they have the same bg color */
.card--secondary .badge--secondary{
    background: #02cdf1;
}
/* plans */
.plan{
    transition: transform 0.15s;
}

.plan__name{
    color:#fff;
    margin:0;
    font-weight:500;
    font-size: 2.4rem;
}
.plan__price{
    font-size:6rem;
}
.plan__billing-cycle{
    font-size: 2.4rem;
    font-weight:300;
    opacity: 80%;
    margin-right: 1rem;
}
.plan__description{
   display:block;
   font-size: 2rem; 
   font-weight:300;
   letter-spacing: 1px;
}
.plan .list__item {
    margin-bottom: 2rem;
  }
  .plan--popular{
    transform:scale(1.1);
  }
.plan--popular .card__header{
    position: relative;

}
.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width:40px;
    display: inline-block;
    position: absolute;
    top: -6px;;
    right:5%;
}
/* plans block */
.block-plans .grid{
    gap:8rem 4rem;
}
.plan:hover{
    transform:scale(1.05)
}


@media screen and (min-width:1024px){
    .plan__name{
        font-size: 1.4rem;
    }
    .plan__price{
        font-size: 5rem;
    }
    .plan__billing-cycle{
        font-size:1.6rem;
    }
    .plan__description{
        font-size: 1.7rem;
    }
    .block-plans .card{
        min-width: 36rem;
    }
}
/* media */
.media{
    display:flex;
    margin: 4rem 2rem;
}
.media__title{
    margin-top:0
}
.media__body{
    margin:0 2rem;
    line-height: 1.6
}
.media__image{
    margin-top: 1rem;
}
.media h3{
    color: #fff;
    font-weight: 600;
}

/* quotes */
.quote{
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 1.3;
}
.quote__text::before{
    content: open-quote;
}
.quote__text::after{
    content: close-quote;
}

.quote__author{
    font-size:3rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom:0;
}
.quote__organization{
    color: var(--color-headings);
    opacity:0.4;
    font-size:2rem;
    font-style: normal;

}
.quote__line{
    position: relative;
    bottom: 10px;
}

@media screen and (min-width:1024px) {
   .quote{
    font-size: 2rem;
   } 
   .quote__author{
    font-size: 2.4rem;
   }
   .quote__organization{
    font-size:1.6rem;
   }
}

/* grids */
.grid{
    display: grid;
    justify-items: center;

}

@media screen and (min-width:768px){/*tablet and more*/
    .grid--1x2{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1024px){
    .grid--1x3{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* testimonial */
.testimonial{
padding: 3rem;
}
.testimonial__image > img{
    width: 100%
}
.testimonial__image{
    position: relative;

}
.testimonial__image > .icon-container--accent{
    position: absolute;
    top:3rem;
    right:-32px;
}

@media screen and (min-width:768px){
    .testimonial .quote, .testimonial .quote__author{
        font-size: 2.4rem
    }
    .testimonial .quote{
        margin-left:6rem;
    }
}

/* callout */
.callout{
    padding: 4rem;
    border-radius: 5px;
}
.callout--primary{
    background:var(--color-primary);
    color: #fff;
}
.callout__heading{
    color: #fff;
    margin-top: 0;
    font-size: 3rem;
}

.callout .btn{
    justify-self: center;
    align-self: center;
}
.callout__content{
    text-align: center;
}
@media screen and (min-width:768px) {
    .callout .grid--1x2{ 
        grid-template-columns: 1fr auto;
    }
    .callout__content{
        text-align: start;
    }
    .callout .btn{
        justify-self: start;
        margin: 0 2rem;
    }
}

/* collapsible */
.collapsible__header{
    display: flex;
    justify-content: space-between;
}
.collapsible__heading{
    margin-top: 0;
    font-size: 3rem;
}
.collapsible__chevron{
    transform: rotate(-90deg);
    transition: transform 0.3s;
    cursor: pointer;
}
.collapsible__content{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.collapsible--expanded .collapsible__content{
    opacity:1;
    max-height: 100vh;
}
.collapsible--expanded .collapsible__chevron{
    transform: rotate(0)
    
}
/* blocks */
.block{
    --padding-vertical:6rem;
    padding: var(--padding-vertical) 2rem;
}
.block__header{
    text-align: center;

}
.block .block__heading{
    margin-top: 0;
}
.block--dark{
    background: #000;
    color:#7b858b;
}
.block--dark h1,
.block--dark h2,
.block--dark h3
{
    color: #fff;
}
.block--skewed-right{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
    padding-bottom: calc(var(--padding-vertical) + 4rem) ;
}
.block--skewed-left{
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    padding-bottom: calc(var(--padding-vertical) + 4rem) ;
}

/* nav */
.nav{
    background: #000;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
}
.nav__list{
    width:100%;
    margin:0;
}
.nav__item{
    padding:0.5rem 2rem;
    border-bottom: 1px solid #222;
    text-align: center;
}
.nav__item>a{
color: #d2d0db;
transition:color 0.2s;
}
.nav__item>a:hover{
color: #fff;
}
.nav__brand{
    transform: translateY(5px);
}
.nav__toggler{
    opacity: 0.5;
    transition:all 0.15s;
    cursor:pointer;
}
.nav__toggler:hover{
    opacity: 1
}
.nav.collapsible--expanded .nav__toggler{
    opacity: 1;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.87);
    border-radius: 5px;
}

@media screen and (min-width:768px){
    .nav__toggler{
        display: none;
    }
    .nav__list{
        width: auto;
        display:flex;
        font-size: 1.6rem;
        max-height: 100vh;
        opacity:1;
    }
    .nav__item{
        border:none
    }
}
/* hero */
.hero{
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

}
.hero__image{
    width:100%;
}
.hero__tagline{
    font-size: 2rem;
    color:#b9c4cf;
    letter-spacing: 1px;
    margin: 2rem 0 5rem
}
@media screen and (min-width:768px){
    .hero{
        padding-top:0
    }
    .hero__content{
        text-align: left;
        align-self: center;
    }
}
/* domain block */
.block-domain .input-group{
    box-shadow: 0  0 30px 20px #e6ebee;
    border:0;
    margin: 4rem auto;
    max-width: 67rem;
}

.block-domain__prices{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,6rem);
    font-size: 2rem;
    font-weight: 600;
    justify-items: center;
    max-width: 70rem;
    margin: 0 auto;

}

@media screen and (min-width:768px){
    .block-domain__prices{
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    grid-template-rows: repeat(2,6rem);
    }

}

/* feature */
.feature__heading{
    margin: 1rem 0;
}
.feature__image{
   width:100%;
    
}
.feature{
    gap:4rem 2rem;
    margin: 12rem 0
}
.feature:first-of-type{
    margin-top:6rem;
}
.block_header{
    text-align: center;
}
@media (min-width: 768px){
    .feature:nth-of-type(even) .feature__content{
        order:2
    }
}

/* showcase */
/* .showcase{
    background:#000;
    padding: 2rem;
} */
.showcase>h2{
    text-align: center;
    color: #fff;
    margin-bottom:4.5rem;
    margin-top:0;
}
.showcase__img{
    width:100%;
}

@media screen and (min-width: 768px){
    .showcase__img{
        width:auto;
        max-width: 700px;
        justify-self: end;
        }
        .showcase .grid{
            grid-template-columns: 50% 50%;
        }
   
}