<section class=".features__container block container">
  <header class="block_header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#easy"></use>
        </svg>
      </div>
      <h3 class="feature__heading">Super Easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/easy.jpg" alt="wordpress image" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#computer"></use>
        </svg>
      </div>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/fast.jpg" alt="wordpress image" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#wordpress"></use>
        </svg>
      </div>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img
      class="feature__image"
      src="images/wordpress.jpg"
      alt="wordpress image"
    />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#clock"></use>
        </svg>
      </div>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img
      class="feature__image"
      src="images/support.jpg"
      alt="wordpress image"
    />
  </article>
</section>
