<section class="footer">
  <div class="footer__rights">
    <img src="images/logo.png" alt="" />
    <p>Copyright 2020 Mosh Hamedani</p>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Products</h2>
      <svg class="icon icon--accent collapsible__chevron">
        <use xlink:href="icons\sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      <ul class="list">
        <li class="footer__item"><a href="#">Website Hosting</a></li>
        <li class="footer__item"><a href="#"> Free Automated</a></li>
        <li class="footer__item"><a href="#"> Wordpress</a></li>
        <li class="footer__item"><a href="#"> Migrations</a></li>
      </ul>
    </div>
  </div>

  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">company</h2>
      <svg class="icon icon--accent collapsible__chevron">
        <use xlink:href="icons\sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      <ul class="list">
        <li class="footer__item"><a href="#">about</a></li>
        <li class="footer__item"><a href="#">affiliates</a></li>
        <li class="footer__item"><a href="#">blog</a></li>
      </ul>
    </div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">support</h2>
      <svg class="icon icon--accent collapsible__chevron">
        <use xlink:href="icons\sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      <ul class="list">
        <li class="footer__item"><a href="#">contact</a></li>
        <li class="footer__item"><a href="#">knowledge base</a></li>
        <li class="footer__item"><a href="#"> FAQ</a></li>
      </ul>
    </div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">domains</h2>
      <svg class="icon icon--accent collapsible__chevron">
        <use xlink:href="icons\sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      <ul class="list">
        <li class="footer__item"><a href="#">domain checker</a></li>
        <li class="footer__item"><a href="#">domain transfer</a></li>
        <li class="footer__item"><a href="#"> free domain</a></li>
      </ul>
    </div>
  </div>
</section>
