<!-- 3cols in only 1024px screens and more -->
<div class="grid grid--1x3">
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: blue"></div>
  <div style="height: 100px; background: tomato"></div>
</div>

<!-- 3cols for 1024px and more and 2cols in 768px screen and more -->
<div class="grid grid--1x2 grid--1x3">
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: blue"></div>
  <div style="height: 100px; background: tomato"></div>
</div>

<!-- 2cols in 768px screen and more -->
<div class="grid grid--1x2">
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: blue"></div>
  <div style="height: 100px; background: tomato"></div>
</div>
